function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto ELSE_BRANCH.7
push this 0
call Square.moveUp 1
pop temp 0
goto END_BRANCH.7
label ELSE_BRANCH.7
label END_BRANCH.7
push this 1
push constant 2
eq
not
if-goto ELSE_BRANCH.8
push this 0
call Square.moveDown 1
pop temp 0
goto END_BRANCH.8
label ELSE_BRANCH.8
label END_BRANCH.8
push this 1
push constant 3
eq
not
if-goto ELSE_BRANCH.9
push this 0
call Square.moveLeft 1
pop temp 0
goto END_BRANCH.9
label ELSE_BRANCH.9
label END_BRANCH.9
push this 1
push constant 4
eq
not
if-goto ELSE_BRANCH.10
push this 0
call Square.moveRight 1
pop temp 0
goto END_BRANCH.10
label ELSE_BRANCH.10
label END_BRANCH.10
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label LOOP_BRANCH.11
push local 1
not
not
if-goto BREAK_BRANCH.11
label LOOP_BRANCH.12
push local 0
push constant 0
eq
not
if-goto BREAK_BRANCH.12
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto LOOP_BRANCH.12
label BREAK_BRANCH.12
push local 0
push constant 81
eq
not
if-goto ELSE_BRANCH.13
push constant 0
not
pop local 1
goto END_BRANCH.13
label ELSE_BRANCH.13
label END_BRANCH.13
push local 0
push constant 90
eq
not
if-goto ELSE_BRANCH.14
push this 0
call Square.decSize 1
pop temp 0
goto END_BRANCH.14
label ELSE_BRANCH.14
label END_BRANCH.14
push local 0
push constant 88
eq
not
if-goto ELSE_BRANCH.15
push this 0
call Square.incSize 1
pop temp 0
goto END_BRANCH.15
label ELSE_BRANCH.15
label END_BRANCH.15
push local 0
push constant 131
eq
not
if-goto ELSE_BRANCH.16
push constant 1
pop this 1
goto END_BRANCH.16
label ELSE_BRANCH.16
label END_BRANCH.16
push local 0
push constant 133
eq
not
if-goto ELSE_BRANCH.17
push constant 2
pop this 1
goto END_BRANCH.17
label ELSE_BRANCH.17
label END_BRANCH.17
push local 0
push constant 130
eq
not
if-goto ELSE_BRANCH.18
push constant 3
pop this 1
goto END_BRANCH.18
label ELSE_BRANCH.18
label END_BRANCH.18
push local 0
push constant 132
eq
not
if-goto ELSE_BRANCH.19
push constant 4
pop this 1
goto END_BRANCH.19
label ELSE_BRANCH.19
label END_BRANCH.19
label LOOP_BRANCH.20
push local 0
push constant 0
eq
not
not
if-goto BREAK_BRANCH.20
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto LOOP_BRANCH.20
label BREAK_BRANCH.20
goto LOOP_BRANCH.11
label BREAK_BRANCH.11
push constant 0
return
